/* CSS */
body
{
	font-family: helvetica, sans-serif;
	font-size: 85%;
	margin: 10px 15px;
	color: #333;
	background-color: #ddd;
}

h1
{	
	font-family: TheMixMono;
	font-size: 2.6em;
	font-weight: black;
	letter-spacing: -0.12em;
	margin: 0 0 0.3em 0;
}

h2
{
	font-size: 1.4em;
	font-weight: normal;
	margin: 1.5em 0 0 0;
}

#img{
	width:3em;
}

canvas
{
	clear:left;
	float:left;
	display: inline;
	width:  600px;
	height: 600px;
	margin: 0 10px 10px 0;
	background-color: #fff;
}

#button_group{
}

#list{
	margin: 10px;
}

#save_group{
	/*clear:left;*/
}

.char-link{
	margin : 10px;
}

.code
{
	display: block;
	width: 580px;
	outline: none;
	border:none;
    border-color: Transparent; 
    border-radius: 4px;
    resize:none;

	height: 4em;
	font-family: "TheMixMono", monospace;
	font-size: 1em;
	/*padding: 2px 4px;*/
	margin: 8px;
	color: #555;
	background-color: #eee;
	border: 1px solid #999;
	overflow: auto;
}

#param-group{
	margin : 10px;
}

#param-name{
	margin-top: 3px;
	width:74px;
}

.param-name-label{
	/*margin-right: 50px;*/
	/*float:left;*/
	/*margin-top: 50px;*/
	display: inline-block;
	width:80px;
}