<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Foundry</title>

<body>

<div>
	<canvas id="canvas" width="900" height="900"></canvas>
</div>

<div id="list">	
</div>
<!-- <span id="status">Editing</span> -->
<div id="save_group">
	<select id="prefix">
		<option value="SS">简单笔画</option>
		<option value="CS">复杂笔画</option>
		<option value="RC">偏旁部首</option>
		<option value="CH">汉字</option>
	</select>
	<input id="name"></input>
	<button id="save">Save</button>
	<button id="load">Load</button>
</div>
<div class="char-link">Parameters</div>
<div id="param-group"></div>
<div class="char-link"><b>Init:</b> generatives, contraints. <button id="init-eval">Evaluate</button>
<textarea id="init-code" class="code"></textarea>
<div class="char-link"><b>Update:</b> parameter relations. Evaluates when parameters updated</div>
<textarea id="update-code" class="code"></textarea>


<script type="text/javascript" src="./scripts/main.js"></script>

</body></html>